body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

h1 {
  font-size: 50px;
}

div .orange-name {
  color: orange;
}

.flexiable-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width-sec1 {
  width: 50%;
  padding-left: 2%;
}

.half-width-sec2 {
  width: 50%;
  padding-right: 2%;
}

.half-width-sec3 {
  width: 50%;
}

.half-width-sec1 img {
  width: 80%;
}
.half-width-sec2 img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.first-para {
  text-align: justify;
}
.sec-para {
  text-align: justify;
}
.third-para {
  text-align: justify;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.half-width-sec3 {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 5px 20px gray;
  padding: 20px 10px;
  border-radius: 10px;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.myPicture {
  width: 400px;
  height: auto;
}

#exp-full-dev {
  border-left: 8px solid;
  border-image: linear-gradient(salmon, orange);
  border-image-slice: 1;
}

#exp-baby-dev {
  border-left: 8px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-weight: lighter;
}
